.line{
  background-color: red;
}
form button{
  display: block;
}

.container{
  width: 100%;
  display: flex;
  justify-content: space-around;

}

#errorMsg{
  width: 30%;;
  display: flex;
  flex-direction:column;
  justify-content: center;
  
}

.first-line{
  background-color: red;
}
.line-color{
  background-color: blue;
}
.codeMirror{
  border: 1px solid rgb(220, 220, 220);
}